<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular Reviews</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.css">

    <link rel="stylesheet" href="css/main.css">

</head>
<body ng-app="itemApp" ng-controller="mainController">

<script src="js/functions.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.3.5/tinymce.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js"></script>
<script src="js/modules/ui-tinymce.js"></script>

<script src="js/controllers/mainCtrl.js"></script>
<script src="js/services/itemService.js"></script>

<script src="js/main.js"></script>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center">
                <img src="images/logo.jpg" alt="" class="img-responsive">
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div id="items">
                    <select name="" id="" class="form-control" ng-model="activeItem" ng-change="clearReview()">
                        <option value=""></option>
                        <option ng-repeat="item in items" value="{{item.id}}">{{item.name}}</option>
                    </select>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div id="review">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>Review text:</h4>
                        <hr>
                        <textarea cols="30" rows="10" ui-tinymce ng-model="reviewText" class="form-control"></textarea>
                        <hr>
                        <button role="submit" ng-click="openSendModal()" class="btn btn-info pull-right">Send your review</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="modal fade" id="send-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Send your review</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="text-center">Send with credentials</h4>
                        <hr>
                        <p>You may leave info about yourself</p>
                        <div class="form-group">
                            <input type="text" ng-model="fname" placeholder="First name" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" ng-model="lname" placeholder="Last name" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4 class="text-center">Send without credentials</h4>
                        <hr>
                        <p>Also you can leave your review without any credentials</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="sendReview()">Send review</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="message-box" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Status box</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <span id="message-box-icon"><i class="fa fa-info-circle"></i></span>
                        <h2>
                            {{messageBoxText}}
                        </h2>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>